
#frankDesc {
    display: inline-block;
    width: 400px;
    padding-left: 75px;
    text-align: center;
}

.selectionBtn {
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    height: 45px;
    border-color: #28AB91;
    margin: 5px;
    border: none;
}

#desc {
    margin-top: 30px;
    width: 70%;
    text-align: center;
    left: 54%;
    transform: translateX(-50%);
}

.currentBtn{
    background-color: #28AB91;
}
#doctorImg {
    width: 200px;
    height: auto;
    
}

.socialLink {
    display: inline-block;
	border-radius: 1000px !important;
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
	text-align: center;
	width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
    background-color: lightgray;
}

.fbLink {
     display: inline-block;
	border-radius: 1000px !important;
	-moz-border-radius: 1000px !important;
	-webkit-border-radius: 1000px !important;
	-o-border-radius: 1000px !important;
	-ms-border-radius: 1000px !important;
	text-align: center;
	width: 48px !important;
	height: 48px !important;
	line-height: 48px !important;
    background-color: lightgray;
}

#addressText {
    color: white;
    position: absolute;
    top: 75%;
    left: 1%;
    
}

#phoneText {
    color: white;
    position: absolute;
    top: 75%;
    left: 33%;
}
